// top | right | bottom | left

$surface: #121212;
// $surface1dp: rgba($surface, .05);
// $surface2dp: rgba($surface, .07);
// $surface3dp: rgba($surface, .08);
// $surface4dp: rgba($surface, .09);
// $surface6dp: rgba($surface, .11);
// $surface8dp: rgba($surface, .12);
// $surface12dp: rgba($surface, .14);
// $surface16dp: rgba($surface, .15);
// $surface24dp: rgba($surface, .16);

// $surface1dp: background-opacity($surface, .05);
// $surface2dp: background-opacity($surface, .07);
// $surface3dp: background-opacity($surface, .08);
// $surface4dp: background-opacity($surface, .09);
// $surface6dp: background-opacity($surface, .11);
// $surface8dp: background-opacity($surface, .12);
// $surface12dp: background-opacity($surface, .14);
// $surface16dp: background-opacity($surface, .15);
// $surface24dp: background-opacity($surface, .16);

$surface24_fake: rgb(55, 55, 55);

$foreground: rgba(white, 0.87);
$disabled: rgba(white, 0.38);

$primary: #bb86fc;
$primary-variant: #3700b3;
// $primary4: rgba($primary, .04);
// $primary8dp: rgba($primary, .12);
$secondary: #03dac6;
$error: #cf6679;

$cultured: #f5f5f5;
$onyx: #404040;

@keyframes urgentin {
    from {
        background: $surface;
        color: $foreground;
    }
    to {
        background: $error;
        color: black;
    }
}
@keyframes urgentout {
    from {
        background: $error;
        color: black;
    }
    to {
        background: $surface;
        color: $foreground;
    }
}

* {
    all: unset; // Unsets everything so you can style everything from scratch
    font-family: 'Bars', 'SF Pro Display', 'Font Awesome 6 Pro Solid',
        'Font Awesome 6 Pro Regular', 'Font Awesome 6 Pro Brands';
    font-size: 10.5pt;
    // border: 1px solid red; // debug
}

window.bar {
    color: $foreground;
    background-color: $surface;
    border-radius: 0 0 6pt 6pt;
    border: lighten($surface, 16) solid 1pt;
}

window.bar > * {
    margin: 3pt 1.5pt;
}

// widget container
window.bar > * > * > *,
.workspace {
    // border-color: blue;
    margin-left: 1.5pt;
    margin-right: 1.5pt;
    // background-color: lighten($surface, 12);
    border-radius: 3pt;

    &:hover {
        background-color: lighten($surface, 12);
        color: lighten($foreground, 12%);
    }
}

.urgent {
    background-color: $error;
    color: $surface;

    &:hover {
        background-color: lighten($error, 12%);
        color: lighten($surface, 12%);
    }
}

.workspace.focused {
    background-color: $primary;
    color: $surface;

    &:hover {
        background-color: lighten($primary, 12%);
        color: lighten($surface, 12%);
    }
}

window.bar > * > * > * > *,
.workspace > * {
    margin: 1.5pt 3pt;
    // border: blue solid 1pt;
}

// window.bar > * > * > * > * > *:hover {
//     border: red solid 1pt;
// }

progressbar.vertical {
    // @include background-opacity($surface, 7%);
    margin: 3pt 0;
}

progressbar.vertical > trough {
    min-height: 1pt;
    min-width: 3pt;
}

progressbar.vertical > trough > progress {
    min-width: 3pt;
    background-color: $foreground;
    min-height: 1pt;
}

.urgent progressbar.vertical > trough > progress {
    background-color: $surface;
}
